* { 
        margin: 0;
        padding: 0;
}

html {
                box-sizing: border-box;
        }

body {
        background-color: white;
        color: #000;
}

span {
        display: block;
}


.app {
        margin: 0 auto;
        max-width: 1440px;
}

.header {
        height: 133px;
        padding: 0 61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #ccc;
}
.header-logo {
        width: 395px;
        height: 37px;
}

.header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
}

.header-item + .header-item{
        margin-left: 31px;
}

.header-link {
        color: #000;
        font-weight: 500;
        font-size: 20px;
        line-height: 34px;
        text-decoration: none;
}

.section__about{

}
.section__about-img{

}
.section__about-content{

}
.section__about-title{

}
.section__about-text{

}
.section__articles{

}
.section__articles-title{

}
.section__articles-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 28px;
        row-gap: 64px;
}
.section__articles-item{
        display: block;
}

.section__articles-item img{
}

.section__articles-item-text{
        display: block;
}
