*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    padding-top: 52.54px;
    /* background-color: antiquewhite; */
}
.header-logo{
    width: 395.83px; 
    height: 37.53px;
    margin-left: 52.54px;
    margin-top: 63.58px;
    margin-bottom: 42.93px;
}
.container{
    max-width: 1440px;
    max-height: 133px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.menu{
    list-style: none;
    display: flex;
    margin-top: 59px;
}
a {
    text-decoration: none;
    text-align: center;
    color: black;
}
span{
    display: block;
}
.menu-item-blog{
    width: 66px;
    height: 34px;
    font-size: 20px;
    Line-height: 34px;
    Line-height: 170%;
    letter-spacing: 12%;
    margin-right: 31px;
    margin-left: 476.59px;
    text-align: center;
    vertical-align: top;
    /* text-decoration: none; */
}
.menu-item-about{
    width: 84px;
    height: 34px;
    font-size: 20px;
    margin-right: 31px;
    text-align: center;
    vertical-align: top;
    /* text-decoration: none; */
}
.menu-item-links{
    width: 71px;
    height: 34px;
    font-size: 20px;
    margin-right: 31px;
    text-align: center;
    vertical-align: top;
    /* text-decoration: none; */
}
.menu-item-projects{
    width: 121px;
    height: 34px;
    font-size: 20px;
    margin-right: 31px;
    text-align: center;
    vertical-align: top;
    /* text-decoration: none; */
}
