* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #000;
    margin: 0;
}

/* --------------------------- */
/* ----------HEADER+--------------- */
.app {
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    height: 132px;
    padding-right: 61px;
    padding-left: 64px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16)
}

.header-logo img {
    width: 395.83px;
    height: 37.53px;
    margin-top: 52.54px;
    margin-right: 63.58px;
    margin-bottom: 42.93px;
}

.header-menu {
    list-style: none;
    display: flex;
    margin: 59px 0 40px 413px;
}

.header-item-blog {
    height: 34px;
    width: 66px;
    margin-right: 31px;
    text-align: center;
}

.header-item-about {
    height: 34px;
    width: 84px;
    margin-right: 34px;
    text-align: center;
}

.header-item-links {
    height: 34px;
    width: 71px;
    margin-right: 36px;
    text-align: center;
}

.header-item-projects {
    height: 34px;
    width: 121px;
    text-align: center;
}

.header-item-blog hr {
    width: 66px;
    height: 0;
    margin-top: 37px;
    size: 2px;
    border-color: #000;
    background-color: #000;
}

.header-link {
    font-family: 'New York Small', sans-serif;
    Line-height: 34px;
    Letter-spacing: 0.12em;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

/* _____
 */
.section__about {
    max-width: 1440px;
}

.section__about-img img {
    width: 1440px;
    height: 900px;
    margin: 52px 0px 44px 0px;
}

.section__about-title {
    Font-family: "New York Extra Large", sans-serif;
    Font-size: 54px;
    Line-height: 100%;
    text-Align: Center;
    font-weight: 700;
    width: 858px;
    height: 162px;
    margin: 53px 291px 32px 291px;
}

.section__about-text {
    margin: 0px 424px;
    width: 592px;
    height: 68px;
    font-size: 20px;
    text-align: center;
    Font-family: "SF Mono", sans-serif;
    Font-size: 20px;
    Line-height: 170%;
    Vertical-align: Top;
}

.section__about-img hr {
    width: 640px;
    height: 0;
    margin: 32px 400px 0px 400px;
}

.section__articles-blog {
    display: flex;
    margin-left: 399px;
}

.section__articles-avatar img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-top: 24px;
}

.section__articles-infomation {
    margin-top: 29px;
    margin-left: 16px;
}

.section__articles-info {
    text-transform: uppercase;
    width: 162px;
    height: 19px;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 8px;
}

.section__articles-time {
    width: 191px;
    height: 19px;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.section__articles-social {
    width: 140px;
    height: 44px;
    margin-top: 30px;
    margin-left: 237px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
}

a {
    text-decoration: none;

}

.section__articles-social-facebook img {
    margin: 12.4px 0px 12.4px 25px;
}

.section__articles-social-twitter img {
    margin: 14px 25px
}

.section__articles-social-facebook {
    width: 70px;
    height: 44px;
    border-right: 1px solid #EAEAEA;

}

.section__articles-introduce {
    width: 640px;
    height: 238px;
    margin-left: 400px;
    margin-top: 47px;
    font-family: 'New York Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: start;
}

.section__articles-title {
    width: 288px;
    height: 51px;
    margin: 57px 752px 24px 400px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
}

.section__articles-body-opening {
    width: 640px;
    height: 238px;
    margin-left: 400px;
    margin-top: 47px;
    font-family: 'New York Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: start;
}

.section__articles-img img {
    width: 854px;
    height: 570px;
    margin: 52px 293px 7px 293px;
}

.section__articles-img-caption {
    width: 481px;
    height: 44px;
    margin-left: 479px;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.section__articles-body-main {
    width: 640px;
    height: 272px;
    margin-left: 400px;
    margin-top: 52px;
    font-family: 'New York Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: start;
}

/* .section__articles-body-menu{
    margin:  19px 428px 0px 400px;
} */
.articles {
    margin-left: 16px;
}

.articles__body-first {
    margin-bottom: 19px;
}

.articles__body-second {
    margin-bottom: 19px;
}

.articles__img {
    width: 10px;
    height: 10px;
    margin-top: 13px;
    margin-left: 400px;
}

.section__articles-body-list {
    width: 640px;
    height: 34px;
    margin: 52px 400px 19px 400px;
    font-family: 'New York Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: start;
}
.section__articles-body-item {
    list-style: none;
    display: flex;
    font-family: 'New York Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}

.section__articles-body-end {
    width: 640px;
    height: 68px;
    margin: 52px 400px;
    font-family: 'New York Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}


.section__articles-thanks{
    width: 640px;
    height: 68px;
    margin-left: 400px;
    margin-top: 77px;
    font-family: 'New York Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}
.articles-close-social {
    width: 640px;
    height: 64px;
    margin: 77px 400px 0px 400px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
}


.articles-close-facebook {
    display: flex;
}

.articles-close-twitter {
    display: flex;
}

.articles-close-social p {
    font-family: 'SF Pro Text',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color:#000;
}
.articles-close-text-facebook {
    width: 148px;
    height: 26px;
    margin-top: 19px;
    margin-left: 16px;
}
.articles-close-text-twitter{
    width: 127px;
    height: 26px;
    margin: 19px 75px 19px 16px;
}
.articles-close-img-facebook{
    height: 20px;
    width: 20px;
    margin: 22px 0px 22px 70px;
}
.articles-close-img-twitter{
    height: 18px;
    width: 22px;
    margin: 23px 0px 23px 80px;
}
.articles-close-facebook{
    width: 320px;
    height: 64px;
    border-right: 1px solid rgba(234, 234, 234, 1);
}
.articles-close-twitter{
    width: 320px;
    height: 64px;
}
.section__articles-close-tag {
    width: 240px;
    height: 19px;
    font-family: 'SF Pro Text',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    margin: 32px 801px 21px 399px ;
}
.section__articles--close-tag a {
    border-bottom: 2px solid #000;
}
.section__articles-close-img{
    width: 640px;
    height: 0px;
    /* margin-top: 34px; */
    margin-left: 400px;
}
.section__articles-author{
    display:flex;
    margin-top: 32px;
}
.author-infomation{
    display: flex;
    margin-left: 24px;
}